{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
        {% for gelato in showcase.gelatos %}
            {{ gelato.name }}
        {% endfor %}
        </div>
    </div>
{% endblock %}
